#body1 {
    background-color: black;
    color:white;
}

#body2 {
    background-size: cover;
    background-attachment: fixed;
    background-image: url("/4B/Kuvat/tausta.jpg")
}
/* 3B TIEDOSTON TYYLITTELYT/ */
.h13 {
    font-size: 20px;
}

.p3 {
    font-size: 12px;
    color: green;
}
/* 4B TIEDOSTON TYYLITTELYT */
.h14 {
    border: 15px; border-style: groove; border-color: rgb(36, 127, 231);
    background-color: white;
    text-align: center;
}

.p4 {
    border: 5px; border-style: double; border-radius: 10px; border-color: rgb(1, 18, 172);
    padding: 10px;
    margin: 40px;
    background-color:rgb(36, 127, 231);
    display: inline;
    font-size: large;
}

.laatikko {
    width: 100px;
    height: 100px;
    border-style:dotted;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-alpha;
}

.linkkipaikka {
    position: absolute; top: 0cm; left: 0cm;
}

#kuva1 {
    width: 200px; height: 200px;
    position: relative; left: 40px;
}

#kuva2 {
    width: 300px; height: 200px;
}
